/* Tree-Style Link List */

.tree-toc {
  font-size: large;
  line-height: 1.45;
  color: lightgray;
  margin-bottom: .3rem;
  margin-left: 2rem;
  padding: 0;
  flex-direction: column;
}

.tree-toc div {
  margin-bottom: .5rem;
}

.tree-toc span.topic {
  font-size: 20px;
  font-weight: bold;
}

.tree-toc a {
  color: darkgray;
  text-decoration: none;
}

.tree-toc a:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.dark .tree-toc a:hover {
  color: white;
}

/* Normal Text */

.tree-toc p {
  margin: .2rem;
}

.tree-toc .series {
  color: rgba(80,80,80);
  font-weight: bold;
  margin-right: .25rem;
}

.tree-toc .series-desc {
  color: rgba(80,80,80);
  font-weight: normal;
}

.dark .tree-toc .series {
  color: white;
}